/*Global change */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: "Bell MT", sans-serif;
    color: darkslategray;
}
body{
    width: 100%;
    height: 100%;

}
section{
    padding: 6rem 0;
}
p{
    font-size: 2rem;
    font-weight: 300 ;
}

.container{
    width: 80%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.section-heading{
    text-align: center;
    margin-bottom: 5rem;
}
.section-heading h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 400;
    position: center;
    color: darkgray;
}
.section-heading h6{
    font-size: 1.6rem;
    font-weight: 300;
}
.has-margin-right{
    margin-right: 5rem;
}

/*Header*/
header{
    width: 100%;
    height: 20vh;
}
.welcome-text{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    /*z-index: 1;*/

}

.welcome-text h1{
    font-size: 10rem;
    font-family: "The Historia Demo", sans-serif;
    background: linear-gradient(to top, #2dff00, #00d2fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none  ;

}

.landing-text h6{
    font-size: 2rem;
    font-weight: 300;
}


/*Service*/
.offers{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.33333333333rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}
.electrical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.electrical h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.electronic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.electronic h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.transport{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.transport h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.house-stuff{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.house-stuff h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.vehicle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.vehicle h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.others{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.others h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}
.moveAble{
    position: fixed;
    top: 0;
    right: 0;
}
a {
    text-decoration: none;
    color: darkslategray;
}



